@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .m-active-group{
    @apply text-white
  }
  .m-active-group .header-item,.m-active-group .menu-group-item{
    @apply bg-gray-800 text-white;
  }
  .m-active , .m-active-group .header{
    border-left: 2px solid #2563eb;
  }
  .m-active .m-caret {
    display: flex;
    border-style: solid;
    border-width: 6.5px 11.3px 6.5px 0;
    border-color: transparent white transparent transparent;
  }
  .m-active .menu-item {
    @apply bg-gray-800 text-white;
  }
  .primary{
    @apply bg-primary-1  text-white hover:bg-primary-2
  }
  .success{
    @apply bg-success-1 text-white hover:bg-success-2
  }
  .warning{
    @apply bg-warning-1 text-white hover:bg-warning-2
  }
  .danger{
    @apply bg-danger-1 text-white hover:bg-danger-2
  }
  .info{
    @apply bg-info-1 text-white hover:bg-info-2
  }
  .disabled{
    @apply !bg-gray-100 !text-gray-400 !border-gray-300 !shadow-gray-200
  }
  .primary-outline{
    @apply border-primary-1 text-primary-1
  }
  .success-outline{
    @apply border-success-1 text-success-1
  }
}